:root {
    --color-background: #75eff1;
    --color-main: #BD1B28;
    --color-secondary: #37515E;
    --color-success: #2e933c;
    --color-warning: #f9dc5c;
    --color-error: #fa8334;
    --color-font-main: #000000;
    --color-font-secondary: #ffffff;
}

body{
    background: var(--color-background);
    margin: 0;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    color: var(--color-font-main);
}
header, footer{
    text-align: center;
    min-height: 50px;
}
header{
    padding-top: 10px;
    padding-right: 5px;
}
#formLogout{
    float: right;
}
#nomeProjeto{
    font-size: 24px;
}
.button, input[type=submit]{
    min-height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.button:hover, input[type=submit]:hover{
    transition: 1.5s;
    background-color:azure;
}
input[type=submit]{
    margin: 5px;
}
.btnEntidades{
    min-width: 220px;
}
.btnUsuarios{
    background-color: lightblue;
    border-color: lightblue;
}
.btnCursos{
    background-color:rgb(37, 210, 223);
    border-color: rgb(37, 210, 223);
}
.btnDisciplinas{
    background-color:chartreuse;
    border-color: chartreuse;
}
.btnCursosDisciplinas{
    background-color: green;
    border-color: green;
}
.btnProfessoresDisciplinas{
    background-color:darksalmon;
    border-color: darksalmon;
}
.btnCriticas{
    background-color:crimson;
    border-color: crimson;
}
.btnCadastrar{
    min-width: 250px;
    background-color:mediumorchid;
    border-color: mediumorchid;
}
.btnAlterar{
    min-width: 250px;
    background-color: cyan;
    border-color: cyan;
}
.btnConsultar{
    min-width: 250px;
    background-color: yellow;
    border-color: yellow;
}
.btnConsultar2{
    min-width: 250px;
    background-color: gold;
    border-color: gold;
}
.btnEstatisticas{
    min-width: 250px;
    background-color:darkorange;
    border-color: darkorange;
}
.btnVoltar{
    min-width: 80px;
    min-height: 23px;
    margin-top: -10px;
    margin-bottom: 30px;
}
input, select{
    margin-bottom: 5px;
}
.inputNota,.inputAnoSemestre{
    min-width: 330px;
}
.mensagemFinalizacao{
    color: green;
}
.mensagemErro{
    color: red;
}
table {
    margin-left: auto;
    margin-right: auto;
    min-width:1000px;
    table-layout:fixed;
}
th, td {
    padding: 4px;
	background: white;
	border: 2px solid black;
}
th {
    cursor: pointer;
}
th:hover {
	transition: 2s;
    background: lightgray;
}
.page-navigation a {
    margin: 0 2px;
    display: inline-block;
    padding: 3px 5px;
    color: #ffffff;
    background-color: #70b7ec;
    border-radius: 5px;
	text-decoration: none;
}
  
.page-navigation a[data-selected] {
	background-color: #3d9be0;
}
#push{
    height: 400px;
}
#push2{
    height: 200px;
}
.grid{
    display:grid;
}
#gridEstatisticasMediasDisciplina,#gridEstatisticasMediasGeral{
    grid-template-columns: 1fr 1fr 1fr;
}
#gridEstatisticasContagemDisciplina,#gridEstatisticasUltimaLinhaDisciplina{
    grid-template-columns: 1fr 1fr;
}
#graficoMediaDisciplinaGeral, #graficoMediaEvolucaoGeral,#graficoMediaAlunoGeral{
	grid-template-columns: 1.5fr 1fr;
}
#ultimasCriticas{
    margin-left: 2px;
}
canvas{
	background: white;
	border: 2px solid black;
	margin-left: 6px;
}
li {
  list-style-type: none;
}
#graficosMediasDisciplina{
    text-align: center;
}
#captchaText{
	border: 2px solid black;
	width: 500px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	background: white;
}
#captchaText{
	font-size: 30px;
	font-family: cursive;
}